.Card_container{
    border: 1px solid black;
    width: 20%;
    height: 60%;
    margin: 2rem ;
    padding: 0.7rem;
    line-height: 2rem;
    box-shadow: 1px 1px 3px black;
   

 


}
.Card_container>h4{
    background-color: black;
    color: #f1f105d2;
    padding: 0.5rem;
    font-size: 1.5rem;
}
.category_text{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #222;
    display: inline-block;
    margin-right: 0.7em;
}
.card_projects_icons{
   display: flex;
   gap: 1rem;
    
 

}
.card_projects_icons>a{
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 8px;

}.card_projects_icons>button{

    text-align: start;
    border: 1px solid black;
    padding: 5px;
    border-radius: 8px;


}
.card_projects_icons>a:hover{
    background-color:#222;
    color: #FFBB33;
    transition: all 0.5s;
}
.card_projects_icons>button:hover{ 
    background-color:#222;
    color: #FFBB33;
    transition: all 0.5s;
}

.Card_service{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  

   
}

/* @media (max-width:1167px){
    .Card_container{
        width: 100%;
       height: auto;
       margin: 1rem;
    }
} */
@media (max-width:1167px){
    .Card_container{
       width:  50%;
       height: 40%;
       margin: 1rem;
   
     
    }
}
