.projects{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 2rem;
    background-color: rgb(218, 214, 214);
   
  
  
}
.projects>p{
    margin-top: 1rem;
    font-size: 1.5em;
}